@import url("../components/layout/layout.css");
@import url("../components/navbar/navbar.css");

* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    font-size: 22px;
    font-weight: bold;
}
/* добавить по макету шрифтов */
:root {
    --background-color-main: #ffffffff;
    --background-color-button-main: #0468ff;
    --background-color-button-secondary: rgba(4,104,255,0.15);
    --background-color-button-main-hover: #0661EC;
    --background-color-button-secondary-hover: rgba(4,104,255,0.2);
    /* background на страничке */
}

.button-border-radius_sm {
    border-radius: 4px;
}

.button-border-radius_md {
    border-radius: 6px;
}

/* button-padding_md */
/* button_sm {
    border
    padding
 }
 стандартные паддинги из бутстрапа мосмотреть margin -4... */