<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="navbar.css">
</head>
<body>
    <header class="innernav">
        <nav>
            <div class="leftside">
                <ul class="linkbar">
                    <li class="navlink">
                        <a>
                            Аренда
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Продажа
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Новостройки
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Дома и участки
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Коммерческая
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Ипотека
                        </a>
                    </li>
                    <li class="navlink">
                        <a>
                            Сервисы
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rightside">
                <!-- переделать в gap вместо диваков -->
                <a href="" class="advert primary-button button-border-radius_sm">
                    <span>
                        + Разместить объявление
                    </span>
                </a>
                <a href="" class="registration secondary-button button-border-radius_sm">
                    <span>
                        Войти
                    </span>
                </a>
            </div>
        </nav>
    </header>
</body>
</html>